<p id="notice"><%= notice %></p>

<center><div class="category-title"> <%= link_to 'New Introduction', new_stress_path %></div></center></br>

  <tbody>
    <% @stresses.reverse.each do |stress| %>
      <tr>
       <td><% if (stress.created_at) > (24.hours.ago) == true %>
         <div class="time-new"><%= "Today" %> </div>
         <% else %>
         <div class="time">Last updated <%= time_ago_in_words(stress.created_at) %> ago </div>
         <% end %>
         </td>
        <td><%= link_to stress_path(stress) do %> 
        <div class="post-title"><%= stress.title %></div></br>
        <% end %> </td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to 'Back', root_url %>