<p id="notice"><%= notice %></p>

<center><div class="category-title"> <%= link_to 'Post to Ask & Answer', new_question_path %></div></center></br>

  <tbody>
    <% @questions.reverse.each do |question| %>
      <tr>
       <td>
         <% if question.created_at < 0.days.ago  %>
         <div class="time-new"><%= "Today" %> </div>
         <% else %>
         <div class="time">Last updated <%= time_ago_in_words(question.created_at) %> ago </div>
         <% end %>

       </td>
        <td><%= link_to question_path(question) do %> 
        <div class="post-title"><%= question.title %></div></br>
        <% end %> </td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to 'Back', root_url %>