<p id="notice"><%= notice %></p>

<div class="category-title"><%= @pitch.title %></div></br>
<%= @pitch.body %></br></br>
Link: <%= link_to "#{@pitch.link}", @pitch.link %></br>
Contact: <%= mail_to @pitch.contact_info %></br>


<%= link_to 'Back', pitches_path %>
