<%= form_for(@space) do |f| %>
  <% if @space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% @space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row-fluid">
  Location :
  <div class="field">
  <%= f.text_field :location %> </br>
  </div>
  Title:
  <div class="field">
  <%=   f.text_field :title %></br>
  </div>
  Body:
  <div class="field">
   <%= f.text_area :body, :class=> "text-area-field", :placeholder => "Tell us about the space" %></br>
  </div>
  Email: 
  <div class="field">
  <%= f.text_field :contact_info %></br></br>
  </div>

  <div class="actions">
    <%= f.submit "Add Space" %>
  </div>
  </div>
<% end %>
