
<p id="notice"><%= notice %></p>

<div class="category-title"><%= @space.title %></div></br>
<%= auto_link(simple_format(@space.body)) %></br></br>
Contact: <%= mail_to @space.contact_info %></br>


<%= link_to 'Back', spaces_path %>
