
<p id="notice"><%= notice %></p>

<center><div class="category-title"> <%= link_to 'Post a Job', new_job_path %></div></center></br>
  <%= link_to 'Back', root_url %>
  <tbody>
    <% @jobs.reverse.each do |job| %>
      <tr>
       <td><% if (job.created_at) > (24.hours.ago) == true %>
         <div class="time-new"><%= "Today" %> </div>
         <% else %>
         <div class="time">Last updated <%= time_ago_in_words(job.created_at) %> ago </div>
         <% end %>
         </td>
        <td><%= link_to job_path(job) do %> 
        <div class="post-title"><%= job.title %> - <%= job.location %></div></br>
        <% end %> </td>
      </tr>
    <% end %>
  </tbody>
<hr>
   <a style="text-decoration:none" href="http://www.simplyhired.com/" rel="nofollow"><img src="http://www.simply-partner.com/static/_/img/sh-logo-wide.png" alt="jobs by simply hired" title="simply hired job feed"></a>

 <% require 'open-uri' %>
 <% doc = Nokogiri::HTML(open("http://api.simplyhired.com/a/jobs-api/xml-v2/ws-20/q-startup?pshid=100578&ssty=2&cflg=r&auth=be37420715aaec1555e44722ce10243913fd6f48.100578&clip=142.255.111.133")) %>

</br></br>
 
  
   <% @link = doc.xpath('//src').map { |node| node['url'] } %>
   <% @name = doc.xpath('//jt').map{ |node| node.text } %>
   <% @loc = doc.xpath('//loc').map{ |node| node.text } %>
   <% @name.zip @link%>
   <% @name.zip @loc %>
   <% @name.zip(@link, @loc).each do |name, link, loc| %>
   <a href="<%= link %>" onMouseDown="xml_sclk(this);">View Job</a></br>
   <div class="post-title"><%= name %> -  <%= loc %></div>
   <% link %></br>
   <% end %>
   <script type="text/javascript" src="http://api.simplyhired.com/c/jobs-api/js/xml-v2.js"></script>
