<p id="notice"><%= notice %></p>
<div class="title">Jobs</div></br>

<div class="category-title"><%= @job.title %></div></br>
Location: <%= @job.location %></br>
<%= auto_link(simple_format(@job.body)) %></br></br>
Compensation: <%= @job.compensation %></br>
Contact: <%= mail_to @job.contact_info %></br>


<%= link_to 'Back', jobs_path %>