<p id="notice"><%= notice %></p>

<div class="category-title"><%= @marketplace.title %></div></br>
Location: <%= @marketplace.location %></br>
<%= auto_link(simple_format(@marketplace.body)) %></br></br>
Contact: <%= mail_to @marketplace.contact_info %></br>


<%= link_to 'Back', marketplaces_path %>