<div class="row">
<div class="col-md-4">
<%= link_to spaces_path, :class =>"post-title" do %>
Office Space
<% end %></br>
Find & share co-working spaces here!
</div>

<div class="col-md-4">
<%= link_to founders_path, :class =>"post-title" do %>
Founder Dating
<% end %></br>
Find a co-founder and start something.
</div>

<div class="col-md-4">
<%= link_to events_path, :class =>"post-title" do %>
Events
<% end %></br>
Post and find relevant events near you.
</div>
</div>
</br></br>

<div class="row">
<div class="col-md-4">
<%= link_to jobs_path, :class =>"post-title" do %>
Jobs
<% end %></br>
Find & share work opportunities.
</div>

<div class="col-md-4">
<%= link_to marketplaces_path, :class =>"post-title" do %>
Marketplace
<% end %></br>
Buy, Sell or Trade.
</div>

<div class="col-md-4">
<%= link_to pitches_path, :class =>"post-title" do %>
The Pitch
<% end %></br>
Share your startup with the community.
</div>
</div>

</br></br>

<div class="row">
<div class="col-md-4">
<%= link_to fundings_path, :class =>"post-title" do %>
Get Funding
<% end %></br>
Looking for funding? Share your story.
</div>

<div class="col-md-4">
<%= link_to marketplaces_path, :class =>"post-title" do %>
Marketplace
<% end %></br>
Buy, Sell or Trade.
</div>

<div class="col-md-4">
<%= link_to pitches_path, :class =>"post-title" do %>
The Pitch
<% end %></br>
Share your startup with the community.
</div>
</div>