<p id="notice"><%= notice %></p>

<center><div class="category-title"> <%= link_to 'Post to Events', new_event_path %></div></center></br>


  <tbody>
    <% @events.reverse.each do |event| %>

      <tr>
       <td>
          <% if event.created_at < 1.days.ago %>
         <div class="time-new"><%= "Today" %> </div>
         <% else %>
         <div class="time">Last updated <%= time_ago_in_words(event.created_at) %> ago </div>
         <% end %>
       </td>
        <td><%= link_to event_path(event) do %> 
        <div class="post-title"><%= event.title %> - <%= event.location %></div></br>
        <% end %> </td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to 'Back', root_url %>