<p id="notice"><%= notice %></p>
<div class="title">Events</div></br>

<div class="category-title"><%= @event.title %></div></br>
Location: <%= @event.location %></br>
<%= auto_link(simple_format(@event.body)) %></br></br>

<%= link_to 'Back', events_path %>
