<p id="notice"><%= notice %></p>
<div class="title">Investors</div></br>

<div class="category-title"><%= @investor.title %></div></br>
<%= auto_link(simple_format(@investor.body)) %></br></br>
Contact: <%= mail_to @investor.contact_info %></br>


<%= link_to 'Back', investors_path %>