<p id="notice"><%= notice %></p>
<div class="title">Apps</div></br>

<div class="category-title"><%= @app.title %></div></br>
Tagline: <%= @app.tagline %></br>
<%= auto_link(simple_format(@app.body)) %></br>
Link: <%= auto_link(simple_format(@app.link)) %><br></br>

<%= link_to 'Back', apps_path %>
