<%= form_for(@funding) do |f| %>
  <% if @funding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funding.errors.count, "error") %> prohibited this funding from being saved:</h2>

      <ul>
      <% @funding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row-fluid">
  Title:
  <div class="field">
  <%=   f.text_field :title %></br>
  </div>
  Body:
  <div class="field">
   <%= f.text_area :body, :class=> "text-area-field", :placeholder => "What is your idea and what kind of funding are you looking for?" %></br>
  </div>
  Link:
  <div class="field">
  <%= f.text_field :link, :placeholder => "http://" %> </br>
  </div>
  Email: 
  <div class="field">
  <%= f.text_field :contact_info %></br></br>
  </div>

  <div class="actions">
    <%= f.submit "Add to Founder Dating" %>
  </div>
  </div>
<% end %>
