<p id="notice"><%= notice %></p>

<center><div class="category-title"> <%= link_to 'Post to Funding', new_funding_path %></div></center></br>

  <tbody>
    <% @fundings.reverse.each do |funding| %>
      <tr>
       <td>
         <% if funding.created_at < 1.days.ago  %>
         <div class="time-new"><%= "Today" %> </div>
         <% else %>
         <div class="time">Last updated <%= time_ago_in_words(funding.created_at) %> ago </div>
         <% end %>
       </td>
        <td><%= link_to funding_path(funding) do %> 
        <div class="post-title"><%= funding.title %></div></br>
        <% end %> </td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to 'Back', root_url %>