<!DOCTYPE html>
<html>
<head>
  <title>The Startup Deck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= tinymce_assets %>
  <%= favicon_link_tag 'TSD.ico' %>
  <link href="<%= image_path('TSD.ico') %>" rel="icon">
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60888402-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="container">

<!-- HeedUser feedback widget code starts here -->
<script>
(function () { var hu = document.createElement("script"); hu.type = "text/javascript"; hu.async = true; hu.src = "//www.heeduser.com/supfiles/Script/widget.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hu, s); })()
</script>
<script>
var _heeduser = {
type: "button",
community: "feedback",
placement: "middle-right",
color: "#458CC8"
}
var heeduser_url = "https://www.heeduser.com/FeedbackWidget/Widget.aspx?community=" + _heeduser.community + "&sso=" + encodeURIComponent(_heeduser.sso_token);
document.write('<a id="heeduser_wb" href="JavaScript:heeduser_openwidget(heeduser_url)" class="' + _heeduser.placement + '" style="background:' + _heeduser.color + '"><img src="https://www.heeduser.com/supfiles/Images/feedback_button_en_rm.png"></a>');
</script>
<!-- HeedUser feedback widget code ends here -->




<% if user_signed_in? %>
You're signed in as  <b>@<%= current_user.username %></b> <%= link_to 'Edit profile', edit_user_registration_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Login", user_omniauth_authorize_path(:twitter) %>
<% end %>



<center>
	<p id="notice"><%= notice %></p>
</center>

<div class="row">
  <div class="title">
     <%= link_to "The Startup Deck", root_url %>
  </div>
</div>     

<div class="row">
<div class="col-md-6">
  <div class="category-title">What's New</div>
</br>
  <div class="post-title">
  <%= @post.title rescue nil %>
  </div>
  <div class="post-body">
  <%= @post.body rescue nil %>
  </div>
</div>

<div class="col-md-6">
  <div class="search-bar">
  <%= render :partial => 'layouts/header' %>
  </div>
</div>

</div>
<br>
<div class="row">
	<% activities %>
	<div class="col-md-8">
		<div class="recently-added">
		Recently added:&nbsp
		</div>
		<div class="stream-link">
		<%= @recent_post = link_to @activities.first, :class => "stream-link" do %>
		<%= simple_format(@activities.first.title) %>
		<% end %>
		</div>
	</div>	
</div>	
</div>


<div class="container">
<%= yield %>
</div>

<br><br><br>
<div class="footer navbar-fixed-bottom">A project by <%= link_to 'this guy', 'http://www.twitter.com/garyriger' %>. Copyright 2015 Thinklab Media. </div>
</div>


</body>
</html>
