<!DOCTYPE html>
<html>
<head>
  <title>Gary on Tech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="container">
<div class="row-fluid">
  <div class="title">
     <%= link_to "Gary on Tech", root_url %>
    </div>
      <div class="sub-heading">
     CLASSIFIEDS FOR THE TECH COMMUNITY
     </div>
  </div>

<div class="row-fluid">
<div class="span12">
<div class="category-title">What's New</div></br>
<div class="post-title"><%= @post.title %></div>
<div class="post-body"><%= @post.body %></div>
</div>
</div>
<hr>	
</container>


<%= yield %>


</body>
</html>
